.idea/
Domino.API/obj/Domino.API.csproj.nuget.dgspec.json
Domino.API/obj/project.assets.json
Domino.API/obj/Debug/net8.0/apphost.exe
Domino.API/obj/Debug/net8.0/Domino.API.AssemblyInfo.cs
Domino.API/obj/Debug/net8.0/Domino.API.AssemblyInfoInputs.cache
Domino.API/obj/Debug/net8.0/Domino.API.dll
Domino.API/obj/Debug/net8.0/Domino.API.GeneratedMSBuildEditorConfig.editorconfig
Domino.API/obj/Debug/net8.0/Domino.API.pdb
Domino.API/obj/Debug/net8.0/Domino.API.sourcelink.json
Domino.API/obj/Debug/net8.0/ref/Domino.API.dll
Domino.API/obj/Debug/net8.0/refint/Domino.API.dll
Domino.API/bin/Debug/net8.0/Domino.API.dll
Domino.API/bin/Debug/net8.0/Domino.API.exe
Domino.API/bin/Debug/net8.0/Domino.API.pdb
Domino.API/bin/Debug/net8.0/Domino.Backend.dll
Domino.API/bin/Debug/net8.0/Domino.Backend.pdb
